* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    color: black; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    line-height: 200%;
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: 1fr 20fr 1fr; 
}

#container {
    background-color: rgba(206, 188, 255, 0.7);
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 20px;
    border: 5px #170042 solid;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

p, h2, h3 {
    margin-top: 10px; 
    margin-bottom: 10px;
}

ol {
    margin-left: 60px;
    text-align: left;
}

#lunchlady {
    position: absolute;
    left: -100%;
    margin: 2em -244px;
    animation: slide 4s forwards;
    height: 200px   
}
@keyframes slide {
    0% { left: -150%; }
    100% { left: 50%; }
}

.end {
    margin-top: 100px;
}